#root {
  max-width: 1280px;
  /* margin: auto; */
  padding: 2rem;
  text-align: center;

}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.ChatTitleBarContainer{
  position: absolute;
  border-radius: 1rem;
  border-style: solid;
  
  width: 94%;
  height:min-content;


  border-color: #61dafbaa;
  transition: all ease-in-out 0.2s;
  
}


.ChatTitleBarContainer:hover{
  opacity: 50%;
  border-color: #6192fbaa;
  
  transition: all ease-in-out 0.2s;
}