#root {
  max-width: 1280px;
  min-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  text-align: center;

}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.ChatTitleBarContainer{
  border-radius: 1rem;
  border-style: solid;
  border-color: #61dafbaa;
  
  transition: all ease-in-out 0.2s;  
}


.ChatTitleBarContainer:hover{
  opacity: 50%;
  border-color: #6192fbaa;
  
  transition: all ease-in-out 0.2s;

}

.ChatArea{
  border-radius: 1rem;
  border-style: solid;
  border-color: #61dafbaa;

  
  animation-name: warp;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 

  margin-top: 1rem;
  padding: 2rem;

}

@keyframes spin {
  from{
    transform: rotate(0deg);
  }to{
    transform: rotate(36035deg);
  }
}

@keyframes warp {
  
}
