#root {
  max-width: 1280px;
  min-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  text-align: center;

  font-weight: bold;

  /* text-shadow: 0px 1px 0px black; */

}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.ChatTitleBarContainer{
  border-radius: 1rem;
  border-style: solid;
  border-color: #CDB4DB;
  
  background-color: #FFC8DD;
  border-style: ridge;

  color: black;
  transition: all ease-in-out 0.2s;  
}


.ChatTitleBarContainer:hover{
  opacity: 70%;
  /* border-color: #6192fbaa; */
  
  transition: all ease-in-out 0.2s;

}

.ChatArea{
  border-radius: 1rem;
  border-style: solid;
  border-color: #CDB4DB;

  background-color: #FFC8DD;

  margin-top: 1rem;
  padding: 1rem;

  border-style: ridge;

  /* animation-name: warp; */
  /* animation-name: spin; */
  /* animation-duration: 10000ms; */

  /* animation-iteration-count: infinite; */
  /* animation-timing-function: linear;  */


}

@keyframes spin {
  from{
    transform: rotate(0deg);
  }to{
    transform: rotate(36035deg);
  }
}

@keyframes warp {
  from{
    transform:skew(-100deg,-100deg);
  }to{
    transform: skew(100deg,100deg);
  }
}

.MessageContainer-Self{
  background-color: #A2D2FF;
  border-color: #BDE0FE;
  
  border-radius: 1rem;
  border-style: ridge;
  
  width: fit-content;
  padding: 0.5rem;

  min-width: 10rem;
  
  margin-left: auto;
}
.MessageContainer-Other{
  background-color: #FFAFCC;
  border-color: #FFC8DD;
  
  border-radius: 1rem;
  border-style: ridge;
  
  min-width: 10rem;

  width: fit-content;
  padding: 0.5rem;
}

.MessageSenderName-Self{
  /* padding-bottom: 1rem; */
  font-size: x-small;
  color: #003566;

  text-align: right;
}
.MessageSenderName-Other{
  /* padding-bottom: 1rem; */
  font-size: x-small;
  color: #660025;
  
  text-align: left;
}

.MessageContent-Self {
  text-align: right;
  color: #003566;
}
.MessageContent-Other{
  text-align: left;
  color: #3D0016;
}